FORMAT: 1A
HOST: https://api.clickup.com/api/v2

# ClickUp 2.0

Let's make people more productive, together.

Please use our [feedback board](https://clickup.canny.io) to report bugs, feature requests, and collaborate with the community.

If you'd like to import our entire API library, click [here](https://t333.s.clickup-attachments.com/t333/3bf59291-47c0-4f1a-ae91-5d9f26a8daca/ClickUp%20API%20V2.postman_collection.json) to download the file needed to import through Postman.
## Authentication

There are two ways to authenticate with ClickUp API 2.0, with a personal token or creating an application and authenticating with an OAuth2 flow. Once you receive one of those two tokens, use that in the `Authorization` header of your API requests.

**IMPORTANT** - _If you are creating an application for others to use, it is highly recommended that you use the OAuth2 flow._

### Personal Token
If you are using the API for personal use, it is safe to use the personal API token. You can find this token in your user settings, under the `Apps` section. At the top of the page you have the option to generate a personal token. These tokens will always begin with `pk_`.

![personal_token](https://attachments3.clickup.com/343f245e-7d27-411d-96d0-9ad3a6f2f8a7/personal_token.png)

If your token becomes compromised, you can regenerate it. However, be aware that any applications that were using the old token will lose access once it has been regenerated.

### OAuth2 Flow
When you want to develop an application that others can use, you must go through the OAuth2 flow so that every user that uses your application gets assigned an individualized token. This way each user of your application is able to access their own ClickUp resources. If you are unfamiliar with OAuth2, Digital Ocean has put together a great [guide](https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2) that should get you started.

***Note:** ClickUp uses the authorization code grant type.*

#### How To Use the ClickUp OAuth2 Flow

1. **Create An OAuth App** - As an admin, navigate to your team settings and click on the `Integrations` section. Once there, click on the icon that is labeled "ClickUp API" and create a new app. When you create an app, you will be prompted to enter a name, and at least one redirect url. When your app is created, you will be provided with a `client_id` and a `secret`.
2. **Authorization Code** - You must first retrieve an authorization code from your user before you can get an access token for their account.
   - To start this process, redirect the user to `https://app.clickup.com/api?client_id={client_id}&redirect_uri={redirect_uri}` with the redirect query parameter set to a redirect uri that you specified when creating the oauth app. The host of the redirect uri must match one of those redirect uris or the request will fail. The protocol will default to https if not provided, and non-ssl redirect uris may not be supported in the future.
   - Once the user has accepted or rejected the authorization request, they will be redirected back to the `redirect_uri` with the necessary query parameters for getting an access token.
3. **Access Token** - Once you have retrieved the authorization code in the previous step, you can then use the route `POST /api/v2/oauth/token` with the parameters `client_id`, `client_secret` , and `code` to get the user access token. This is the token that is used in the `Authorization` header for all requests in the ClickUp API. Skip to the authorization section below for more information on this route.
4. **Token Teams** - When you redirect your user in step 2 of this flow, they will be prompted which teams (Workspaces) they want to grant you access to. Therefore in order to access a specific Workspace for the user, you need to ensure that they have given you access. You can use the route `GET /api/v2/team` to see which Workspaces they have authorized you to access. If they have not given you access to the appropriate Workspaces, you can redirect them to the authorization code URL from step 2 at any time to reauthorize your app. Below is a screenshot of what the user sees when they visit this URL.

![token_teams](https://attachments3.clickup.com/49988c04-bf0f-42a5-96cc-82ce213b7f5e/token_teams.png)


## Rate Limiting
The API is rate limited per OAuth and personal token. You will receive a 429 HTTP status code if you exceed the rate limit. The rate limit varies based on [plan](https://clickup.com/expandplans):
- **Free Forever**, **Unlimited**, and **Business Plan**: 100 requests per minute per token
- **Business Plus Plan**: 1,000 requests per minute per token
- **Enterprise Plan**: 10,000 requests per minute per token

Learn more about our [ClickUp Plans](https://clickup.com/pricing).

## Error Handling
Errors responses will return a non-200 status code and a json err message and error code.

Common errors include:

**`Team not authorized`**: This error is thrown when a team was not authorized by the user for a particular access token. Refer to the `Token Teams` section of the OAuth instructions for more information on how to fix this error. Error codes that are associated with this message include `OAUTH_023`, `OAUTH_026`, `OAUTH_027`, and `OAUTH_029` to `OAUTH_045`

**`Token not found`**: This error is thrown if authorization is revoked by the user, as described in the "Personal Token" section. Error codes that are associated with this message include `OAUTH_019`, `OAUTH_021`, `OAUTH_025`, and `OAUTH_077`

**`Authorization Header Required`**: The authorization token was missing in the `Authorization` http header. `OAUTH_017`

**`Client Not Found`**: The client application was not created correctly. `OAUTH_010`

**`Redirect URI not passed`**: The redirect URI was not present during the OAuth authentication flow. Refer to the section "Create An OAuth App" to resolve this error. `OAUTH_017`

**`Redirect URI does not match the redirect uris of this application`**: The redirect URI must be registered with your client application. Refer to the section "Create An OAuth App" to resolve this error. `OAUTH_007`

## FAQ

> What is `team` in reference to?

Teams is the legacy term for what are now called Workspaces in ClickUp. For compatibility, the term `team` is still used in this API to refer to Workspaces. In our API documentation, `team_id` refers to the id of a Workspace, and `group_id` refers to the id of a user group.

> What `Content-Type` should I use?

When formatting your requests to ClickUp, please always use the content type `application/json`. Using form encoded data is not fully supported and can result in unexpected consequences.

> How are projects and Folders related?

Projects are what we used to call Folders in ClickUp V1. If you use the first version of the API, the items that are returned to you as projects are the same as Folders in the second version of the API. You must use the correct nomenclature depending on the version of the API you are using (`project` for V1 and `folder` for V2) and cannot interchange them.

> Does the access token returned from `POST /api/v2/oauth/token` expire?

The access token does not expire at this time.

> Is it possible to move a task between lists using the API?

It is not possible to move a task between lists at this time. This is a complicated process, however we hope to implement this on the public API in the near future.

> Will tasks created via API generate notifications?

Yes, all actions you take with the public api will trigger all of the same process that would occur through the UI. This includes notifications, websocket messages, webhooks, etc.

> How do I tell who has access to a particular task?

To get a list of team members that have access to a particular task or list, use the routes `GET /api/v2/task/{{task_id}}/member` and `GET /api/v2/list/{{list_id}}/member` under the "Members" section of this documentation.

> How are dates formatted in ClickUp?

ClickUp will always display dates in [Unix time](https://en.wikipedia.org/wiki/Unix_time) in milliseconds. You can use a website like [Epoch Converter](https://epochconverter.com) to convert dates between Unix and human readable date formats.

> What timezone does your API use for timestamps?

Our API always returns timestamps in [UTC (Coordinated Universal Time)](https://en.wikipedia.org/wiki/Coordinated_Universal_Time).

> How are subtasks represented in the API?

Subtasks are identical to tasks in every way. Therefore, you can manipulate subtasks the same way you would update any task with the API. To check if a task object is a subtask or not, locate the `parent` property. If this value is `null` then it is not a subtask, otherwise it will contain the task ID of the subtask's parent.

To create a subtask, use `POST /api/v2/list/:list_id/task` and make sure to set the `parent` property in the body of the request. Similarly, to update or delete existing subtasks, use the routes `PUT /api/v2/task/:task_id` and `DELETE /api/v2/task/:task_id` respectively. To fetch subtasks, get the parent task and add the subtask query param (`GET /api/v2/task/:parent_id?include_subtasks=true`) or use the search team route with that same query param (`GET /api/v2/team/:team_id/task?subtasks=true`).

> The code examples shown here aren't working

Our code examples are automatically generated and may require customization for specific coding languages and implementation. They are included for reference purposes only.

## Attachments [/attachment]

To post an attachment to ClickUp, you must send the desired file in a `POST` request to the following route. Uploading attachments to ClickUp is one of the only times that you will not use `Content-Type: application/json`, instead you must send the file in the `multipart/form-data` format. Depending on what language you are building your application in, the method of formatting each request is going to look quite different.

If you are unfamiliar with this request body format, check out this article ([Understanding HTML Form Encoding: URL Encoded and Multipart Forms](https://dev.to/sidthesloth92/understanding-html-form-encoding-url-encoded-and-multipart-forms-3lpa)) which does a great job describing how you would POST an attachment from the browser. It also explains what the raw HTTP request looks like, which is helpful if you are making the request server side.

You will not be able to add attachments using the Console feature on this website. You can experiment with this endpoint using an app like [Postman](https://www.getpostman.com/). You can easily upload an attachment via `multipart/form-data` with Postman by following these [instructions](https://learning.getpostman.com/docs/postman/sending-api-requests/requests/#form-data).

Finally, we have provided an example of how you would post an attachment with `Node.js`:

```
const FormData = require('form-data');
const axios = require('axios');
const fs = require('fs');

const form = new FormData();

form.append('filename', '')
form.append('attachment', fs.createReadStream('./img.png'));

const headers = form.getHeaders();

headers.authorization = `Bearer ${your_api_token}`;

axios({
  method: 'post',
  url: 'https://api.clickup.com/api/v2/task/123/attachment',
  data: form,
  headers,
})
  .then(() => console.log('success'))
  .catch(() => console.log('fail'));
```

***Note:** Make sure that your file is named `attachment` otherwise the API will not recognize the file.*

### Create Task Attachment [POST /task/{task_id}/attachment{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + custom_task_ids (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: multipart/form-data

    + Body

            attachment: raw_image_file (file)
            filename: example.png (string)

+ Response 200 (application/json)

            {
                "id": "ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png",
                "version": "0",
                "date": 1569988578766,
                "title": "image.png",
                "extension": "png",
                "thumbnail_small": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png",
                "thumbnail_large": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png",
                "url": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png"
            }

## Authorization [/oauth]
These are the routes for authing the API and going through the OAuth flow described above. Applications utilizing the personal API token can skip this section.

### Get Access Token [POST /oauth/token{?client_id,client_secret,code}]
+ Parameters
    + client_id (string) - Oauth app client id
    + client_secret (string) - Oauth app client secret
    + code (string) - Code given in redirect url


+ Response 200 (application/json)

        {
            "access_token": "access token"
        }

### Get Authorized User [GET /user]

+ Request
Get the user that belongs to this token
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

        {
            "user": {
                "id": 123,
                "username": "John Doe",
                "color": "#000000",
                "profilePicture": "https://clickup.com/avatar.jpg"
            }
        }

### Get Authorized Teams [GET /team]
+ Request
Get the authorized teams (Workspaces) for the authenticated user.
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

        {
            "teams": [
                 {
                    "id": "1234",
                    "name": "My ClickUp Workspace",
                    "color": "#000000",
                    "avatar": "https://clickup.com/avatar.jpg",
                    "members": [
                        {
                            "user": {
                                "id": 123,
                                "username": "John Doe",
                                "color": "#000000",
                                "profilePicture": "https://clickup.com/avatar.jpg"
                            }
                        }
                    ]
                }
            ]
        }

## Checklists [/checklist]

### Create Checklist [POST /task/{task_id}/checklist/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hz (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "Checklist"
            }

+ Response 200 (application/json)

            {
                "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hz",
                    "name": "Checklist",
                    "orderindex": 0,
                    "resolved": 0,
                    "unresolved": 0,
                    "items": []
                }
            }

### Edit Checklist [PUT /checklist/{checklist_id}]

+ Parameters
    + checklist_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)

+ Request
`position` is the zero-based index of the order you want the checklist to exist on the task. If you want the checklist to be in the first position, pass `{ "position": 0 }`
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "Updated Checklist",
                "position": 1
            }

+ Response 200 (application/json)

            {
                "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hz",
                    "name": "Updated Checklist",
                    "orderindex": 5,
                    "resolved": 0
                    "unresolved": 0,
                    "items": []
                }
            }

### Delete Checklist [DELETE /checklist/{checklist_id}]

+ Parameters
    + checklist_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {}

### Create Checklist Item [POST /checklist/{checklist_id}/checklist_item]

+ Parameters
    + checklist_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "Checklist Item",
                "assignee": 183
            }

+ Response 200 (application/json)

            {
                "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hv",
                    "name": "Checklist",
                    "date_created": "1567711563204",
                    "orderindex": 0,
                    "resolved": 0,
                    "unresolved": 1,
                    "items": [
                        {
                            "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                            "name": "Checklist Item",
                            "orderindex": 0,
                            "assignee": {
                                "id": 183,
                                "username": "John Doe",
                                "email": "example@email.com",
                                "color": "#827718",
                                "initials": "JD",
                                "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg"
                            },
                            "resolved": false,
                            "parent": null,
                            "date_created": "1567711566859",
                            "children": []
                        }
                    ]
                }
            }

### Edit Checklist Item [PUT /checklist/{checklist_id}/checklist_item/{checklist_item_id}]

+ Parameters
    + checklist_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)
    + checklist_item_id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f (uuid)

+ Request
`parent` is another checklist item that you want to nest the target checklist item underneath.
    + Headers

            Authorization: "access_token"
            Content-Type: application/json
    + Body

            {
                "name": "Updated Checklist Item",
                "assignee": null,
                "resolved": true,
                "parent": null
            }

+ Response 200 (application/json)

            {
                "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hv",
                    "name": "Checklist",
                    "date_created": "1567711563204",
                    "orderindex": 0,
                    "resolved": 1,
                    "unresolved": 0,
                    "items": [
                        {
                            "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                            "name": "Updated Checklist Item",
                            "orderindex": 0,
                            "assignee": null,
                            "resolved": true,
                            "parent": null,
                            "date_created": "1567711566859",
                            "children": []
                        }
                    ]
                }
            }

### Delete Checklist Item [DELETE /checklist/{checklist_id}/checklist_item/{checklist_item_id}]

+ Parameters
    + checklist_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)
    + checklist_item_id: 21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f (uuid)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {}

## Comments [/comment]
#####Viewing Comments
By default, if you do not include the start and start_id parameters, the GET calls will return the most recent 25 comments on the specified task, Chat view, or List.

To retrieve older comments:

Locate the last (oldest) comment in the response body and add the following values to the parameters of your next call:
- Add the date value to the start parameter
- Add the comment id value to the start_id parameter

Both parameters are required to retrieve the next 25 comments. Repeat as needed to page through all task comments.

When you've reached the final page of comments, you'll either have less than 25 comments in the response, or when you send the next call with the start and start_id parameters, you'll receieve the following response:
```json
{
"comments": []
}
```
####Adding Comments with Formatting and emoji
You can create and update Task Comments and Chat View Comments using text formatting and emoji.

#####Plain text
You can also use `"comment_text": "This is a comment"` if you are simply adding a plain text comment, as shown in the actual API calls below.
```json
{
    "comment": [
        {
        "text": "plain text",
        "attributes": {}
        }
    ]
}
```
#####Bold text
```json
{
    "comment": [
        {
        "text": "bold text",
        "attributes": {
            "bold": true
            }
        }
    ]
}
```
#####Italicized text
```json
{
    "comment": [
        {
        "text": "italics",
        "attributes": {
            "italic": true
            }
        }
    ]
}
```
#####Inline Code
```json
{
    "comment": [
        {
        "text": "inline code",
        "attributes": {
            "code": true
            }
        }
    ]
}
```
#####Code Block
```json
{
    "comment": [
        {
        "text": "code block",
        "attributes": {}
        },
        {
        "text": "\n",
        "attributes": {
            "code-block": {
                "code-block": "plain"
                }
            }
        }
    ]
}
```
#####Bulleted list
```json
{
    "comment": [
        {
        "text": "bulleted list",
        "attributes": {}
        },
        {
        "text":"/n",
        "attributes": 
            {
            "list": {
                "list": "bullet"
                }
            }
        }
    ]
}
```
#####Numbered list
```json
{
    "comment": [
        {
        "text": "numbered list",
        "attributes": {}
        },
        {
        "text":"/n",
        "attributes": 
            {
            "list": {
                "list": "ordered"
                }
            }
        }
    ]
}
```
#####Checklist
```json
{
    "comment": [
        {
            "text": "Checklist",
            "attributes": {}
        },
        {
        "text": "\n",
        "attributes": {
            "list": {
                "list": "unchecked"
                }
            }
        },
        {
        "text": "Checked item",
        "attributes": {}
        },
        {
        "text": "\n",
        "attributes": {
            "list": {
                "list": "checked"
                }
            }
        }
    ]
}
```

#####Emoji
The `code` property must be a valid Unicode emoji value, often written like `U+1f60a`. Please omit the `U+` and only pass the hex value of the code as a string.
```json
{
    "comment":
    [
        {
        "text": "😊",
        "type": "emoticon",
        "emoticon": 
            {
            "code": "1f60a"
            }
        }
    ]
}
```

### Create Task Comment [POST /task/{task_id}/comment{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hz (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
If `notify_all` is true, creation notifications will be sent to everyone including the creator of the comment.
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "comment_text": "Task comment content",
                "assignee": 183,
                "notify_all": true
            }


+ Response 200 (application/json)

            {
                "id": "458",
                "hist_id": "26508",
                "date": 1568036964079
            }

### Create Chat View Comment [POST /view/{view_id}/comment]

+ Parameters
    + view_id: 3c-105 (string)

+ Request
If `notify_all` is true, creation notifications will be sent to everyone including the creator of the comment.
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "comment_text": "View comment content",
                "notify_all": true
            }


+ Response 200 (application/json)

            {
                "id": "459",
                "hist_id": "0a45e16e-4e2f-4a9e-99ec-3cf520b87eae",
                "date": 1568037065216
            }

### Create List Comment [POST /list/{list_id}/comment]

+ Parameters
    + list_id: 124 (number)

+ Request
If `notify_all` is true, creation notifications will be sent to everyone including the creator of the comment.
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "comment_text": "List comment content",
                "assignee": 183,
                "notify_all": true
            }


+ Response 200 (application/json)

            {
                "id": "462",
                "hist_id": "5bbea9ad-7cc3-4038-a8bb-a89ac1337c08",
                "date": 1568037341249
            }

### Get Task Comments [GET /task/{task_id}/comment/{?custom_task_ids,team_id,start,start_id}]

+ Parameters
    + task_id: 9hz (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`
    + `start` (integer, optional) - Enter the `date` of a task comment using Unix time in milliseconds
    + `start_id` (string, optional) - Enter the Comment `id` of a task comment

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "comments": [
                    {
                        "id": "458",
                        "comment": [
                            {
                                "text": "Task comment content"
                            }
                        ],
                        "comment_text": "Task comment content",
                        "user": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "resolved": false,
                        "assignee": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "assigned_by": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "reactions": [],
                        "date": "1568036964079"
                    }
                ]
            }

### Get Chat View Comments [GET /view/{view_id}/comment/{?start,start_id}]

+ Parameters
    + view_id: 3c-105 (string)
    + `start` (integer, optional) - Enter the `date` of a Chat view comment using Unix time in milliseconds
    + `start_id` (string, optional) - Enter the Comment `id` of a Chat view comment

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "comments": [
                    {
                        "id": "459",
                        "comment": [
                            {
                                "text": "View comment content"
                            }
                        ],
                        "comment_text": "View comment content",
                        "user": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "resolved": false,
                        "assignee": null,
                        "assigned_by": null,
                        "reactions": [],
                        "date": "1568036964079"
                    }
                ]
            }

### Get List Comments [GET /list/{list_id}/comment/{?start,start_id}]

+ Parameters
    + list_id: 124 (number)
    + `start` (integer, optional) - Enter the `date` of a List info comment using Unix time in milliseconds
    + `start_id` (string, optional) - Enter the Comment `id` of a List info comment

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "comments": [
                    {
                        "id": "462",
                        "comment": [
                            {
                                "text": "List comment content"
                            }
                        ],
                        "comment_text": "List comment content",
                        "user": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "resolved": false,
                        "assignee": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "assigned_by": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        },
                        "reactions": [],
                        "date": "1568036964079"
                    }
                ]
            }

### Update Comment [PUT /comment/{comment_id}]

+ Parameters
    + comment_id: 456 (number)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "comment_text": "Updated comment text"
                "assignee": 183,
                "resolved": true
            }

+ Response 200 (application/json)

            {

            }

### Delete Comment [DELETE /comment/{comment_id}]

+ Parameters
    + comment_id: 456 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {

            }

## Custom Fields [/fields]

#### Field Types
Below are a list of field types that are available for you to use with the public API. For most use cases, you will use the `string` value to specify a type, such as `drop_down` or `number`. In a few instances, you may be returned an `integer` value. A map to each for each type is provided below.

```json
{
    "url": 0,
    "drop_down": 1,
    "email": 2,
    "phone": 3,
    "date": 4,
    "text": 5,
    "checkbox": 6,
    "number": 7,
    "currency": 8,
    "tasks": 9,
    "users": 10,
    "emoji": 11,
    "labels": 13,
    "automatic_progress": 14,
    "manual_progress": 15,
    "short_text": 16
}
```

***Note:** In the ClickUp UI, the `text` is displayed as "Long Text" and `short_text` is displayed as "Text".*

#### The Field Object

```json
{
    "id": "5dc86497-098d-4bb0-87d6-cf28e43812e7",
    "name": "Text Field",
    "type": "text",
    "type_config": {},
    "date_created": "1577378759142",
    "hide_from_guests": false
}
```

#### Type Config

The `type_config` property is used to set configurations that are specific to a certain field type.

##### Drop Down

The drop down options exist in the `options` array, their order is determined by their array index. A `placeholder` value (string) and `default` option are available, but are not currently in use on the front end.

```json
{
    "name": "My Drop Down Field",
    "type": "drop_down",
    "type_config": {
        "default": 0,
        "placeholder": "Select a value",
        "options": [
            {
                "id": "UUID",
                "name": "Option 1",
                "color": "#FFFFF"
            },
            {
                "id": "UUID",
                "name": "Option 2",
                "color": "#000000"
            }
        ]
    }
}
```

##### Currency

The `default` option is available, but not currently in use by the FE.

```json
{
    "name": "My Currency Field",
    "type": "currency",
    "type_config": {
        "precision": 2,
        "currency_type": "USD",
        "default": 10
    }
}
```

##### Emoji

The `code_point` property must be a valid Unicode **emoji** code point value, many times written like `U+1f613`. Please omit the `U+` and only pass the hex value of the code point as a string. The `count` property denotes how many emoji values the rating can hold (min 1, max 5).

```json
{
    "name": "My Emoji Rating Field",
    "type": "emoji",
    "type_config": {
        "code_point": "1f613",
        "count": 5
    }
}
```

##### Labels

Labels is very similar to drop down, except you can set multiple option values.

```json
{
    "name": "My Label Field",
    "type": "labels",
    "type_config": {
        "options": [
            {
                "id": "UUID",
                "label": "Label 1",
                "color": "#123456"
            },
            {
                "id": "UUID",
                "label": "Label 2",
                "color": "#FFFFFF"
            }
        ]
    }
}
```

##### Automatic Progress

```json
{
    "name": "Automatic Progress Bar",
    "type": "progress",
    "type_config": {
        "method": "automatic",
        "tracking": {
            "subtasks": true,
            "assigned_comments": true,
            "checklists": true
        }
    }
}
```

##### Manual Progress

```json
{
    "name": "Manual Progress Bar",
    "type": "progress",
    "type_config": {
        "method": "manual",
        "start": 0,
        "end": 100
    }
}
```

#### Field Values

To set a field value on a task use the route `POST /api/v2/task/{{task_id}}/field/{{field_id}}`. The request will always require the body `{ value: ... }` with the type of value being dependent on what type of field it is.

##### Url

The value must be a string and a valid url

```json
{ "value": "https://clickup.com" }
```

##### Drop Down

The value must be a UUID that matches the drop down option that you retrieve from `type_config`

```json
{ "value": "UUID" }
```

##### Email

The value must be a string and a valid email.

```json
{ "value": "lana@clickup.com" }
```

##### Phone

The value must be a string and a valid phone number with country code.

```json
{ "value": "+1 123 456 7890" }
```

##### Date

The `"value"` must be Unix time in milliseconds. By default, or if you include `"time": false` only the date is displayed in the ClickUp UI. To display the time in the ClickUp UI, include `"time": true` as shown in the example below. 

***Note:** When requesting tasks that include a Date Custom Field (such as when using `GET task` or other calls) but that do not include or display a time in the ClickUp UI, the API will return a value in Unix time in milliseconds of 4:00 am in the authorized user's timezone.*

```json
{ 
    "value": 1565993299379 
    "value_options": {
        "time": true
    }
}
```

##### Text

The value must be a string

```json
{ "value": "Some text" }
```

##### Checkbox

The value must be a boolean

```json
{ "value": true }
```

##### Number

The value must be a number

```json
{ "value": -28 }
```

##### Currency

The value must be a number.

```json
{ "value": 80000 }
```

##### Tasks

The value must be an object with the following format. The task_ids in `add` will get added to the field, and the task_ids in `rem` will be removed. The user must have access to all of the tasks in the request.

```json
{
    "value": {
        "add": ["wmq3", "qt15"],
        "rem": ["wxm7"]
    }
}
```

##### Users

The value must be an object with the following format. The users in `add` will get added to the field, and the users in `rem` will be removed.

```json
{
    "value": {
        "add": [184, 193],
        "rem": [183]
    }
}
```

##### Filter by Users

To filter by users with the GET Filtered Team Tasks endpoint, input each `user_id` as an array into the `value` parameter.

```json
{
   "field_id":"bd12538-4cf0-51f3-13h1-a1c0bedae3f7",
   "operator":"ANY",
   "value":[123456,765432]
}
```

##### Emoji

The value must be an integer that meets the following condition: `0 <= value >= field.type_config.count`.

```json
{
    "value": 4
}
```

##### Automatic Progress

Task value is automatically calculated for each task, trying to set a value will error.

##### Manual Progress

If the field is manual progress, the value must be and object with the **current** value of the progress. For example, if your start and end is `10` and `30` respectively, you would need to pass `20` to make the progress bar at `50%`.

```json
{
    "value": {
        "current": 20
    }
}
```

##### Labels

The value must be an object with the following format. The UUID's for each label must come from the field's type_config. Any labels that currently exist will be overridden.

```json
{
    "value": ["UUID_1", "UUID_2"]
}
```

### Get Accessible Custom Fields [GET /list/{list_id}/field]

+ Parameters
    + list_id: 123 (number)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

+ Response 200 (application/json)

            {
                "fields": [
                    {
                        "id": "03efda77-c7a0-42d3-8afd-fd546353c2f5",
                        "name": "Text Field",
                        "type": "text",
                        "type_config": {},
                        "date_created": "1566400407303",
                        "hide_from_guests": false
                    },
                    {
                        "id": "0a52c486-5f05-403b-b4fd-c512ff05131c",
                        "name": "Number Field",
                        "type": "number",
                        "type_config": {},
                        "date_created": "1565993269460",
                        "hide_from_guests": false
                    },
                    {
                        "id": "0c7e8f5c-557b-4128-bf37-29e2fe5bb7f9",
                        "name": "Label Field",
                        "type": "labels",
                        "type_config": {
                            "options": [{
                                    "id": "fb332c98-d7bc-4ee8-a3bd-b5ffaff98c3c",
                                    "label": "one",
                                    "color": null
                                },
                                {
                                    "id": "2b0c058c-2f41-4f61-8fc8-f9ea426e8c0e",
                                    "label": "two",
                                    "color": null
                                },
                                {
                                    "id": "75e10f4b-b4cc-4ef9-94dc-230d19ef4fa6",
                                    "label": "three",
                                    "color": null
                                }
                            ]
                        },
                        "date_created": "1558567802303",
                        "hide_from_guests": false
                    },
                    {
                        "id": "10916331-1903-4026-886f-891f29aa9fb6",
                        "name": "Checkbox Field",
                        "type": "checkbox",
                        "type_config": {},
                        "date_created": "1562944066529",
                        "hide_from_guests": false
                    },
                    {
                        "id": "2e3d4145-9a54-4d0a-9446-78ba595b327f",
                        "name": "Date Field",
                        "type": "date",
                        "type_config": {},
                        "date_created": "1565886951888",
                        "hide_from_guests": false
                    },
                    {
                        "id": "31b84286-635a-45fd-bbd5-3814fbbb08bb",
                        "name": "User Field",
                        "type": "users",
                        "type_config": {},
                        "date_created": "1565962775482",
                        "hide_from_guests": false
                    },
                    {
                        "id": "5cf8a44f-4421-4982-97d7-3e2209be2df4",
                        "name": "Currency Field",
                        "type": "currency",
                        "type_config": {
                            "default": null,
                            "precision": 2,
                            "currency_type": "USD"
                        },
                        "date_created": "1565993263347",
                        "hide_from_guests": false
                    },
                    {
                        "id": "790e5051-7923-43e8-8f05-2e4940557bd8",
                        "name": "Phone Field",
                        "type": "phone",
                        "type_config": {},
                        "date_created": "1563545189836",
                        "hide_from_guests": false
                    },
                    {
                        "id": "8551901a-3eca-4193-b691-e0e3c9f94ff3",
                        "name": "Drop Down Field",
                        "type": "drop_down",
                        "type_config": {
                            "default": 0,
                            "placeholder": null,
                            "options": [{
                                    "id": "5f6ce650-cb1d-437d-8373-72578a092510",
                                    "name": "1",
                                    "value": 1,
                                    "type": "numeric",
                                    "orderindex": 0,
                                    "color": null
                                },
                                {
                                    "id": "89707879-c4e1-44b9-9cc0-be7c16ee6681",
                                    "name": "2",
                                    "value": 2,
                                    "type": "numeric",
                                    "orderindex": 1,
                                    "color": null
                                }
                            ]
                        },
                        "date_created": "1565993237778",
                        "hide_from_guests": false
                    },
                    {
                        "id": "9b45e079-f647-4556-bdd9-a7589ccd2530",
                        "name": "Manual Progress Field",
                        "type": "manual_progress",
                        "type_config": {
                            "end": 100,
                            "start": 0
                        },
                        "date_created": "1565993299379",
                        "hide_from_guests": false
                    },
                    {
                        "id": "b5be3c35-4fe1-429e-affe-4318de213efe",
                        "name": "Emoji (Rating) Field",
                        "type": "emoji",
                        "type_config": {
                            "count": 5,
                            "code_point": "1f383"
                        },
                        "date_created": "1565993309955",
                        "hide_from_guests": false
                    },
                    {
                        "id": "ba0d56f6-f1ba-4015-b726-12c013bb8ac6",
                        "name": "Automatic Progress Field",
                        "type": "automatic_progress",
                        "type_config": {
                            "tracking": {
                                "subtasks": true,
                                "checklists": true,
                                "assigned_comments": true
                            },
                            "complete_on": 3
                        },
                        "date_created": "1566405066706",
                        "hide_from_guests": false
                    },
                    {
                        "id": "decb4a8a-6120-46b0-9cbb-66f3ee1de3c5",
                        "name": "Email Field",
                        "type": "email",
                        "type_config": {},
                        "date_created": "1565993242649",
                        "hide_from_guests": false
                    },
                    {
                        "id": "e438e267-4f9f-4b54-b937-cbdb0e0369dd",
                        "name": "URL Field",
                        "type": "url",
                        "type_config": {},
                        "date_created": "1559001282914",
                        "hide_from_guests": false
                    }
                ]
            }

### Set Custom Field Value [POST /task/{task_id}/field/{field_id}/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + field_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
The accessible fields can be found on the task object from the get task route. This is where you can retrieve the `field_id`.
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "value": 80
            }

+ Response 200 (application/json)

            {}

### Remove Custom Field Value [DELETE /task/{task_id}/field/{field_id}/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + field_id: b955c4dc-b8a8-48d8-a0c6-b4200788a683 (uuid)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
The accessible fields can be found on the task object from the get task route. This is where you can retrieve the `field_id`.
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {}

## Dependencies [/dependency]

### Add Dependency [POST /task/{task_id}/dependency/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
To create a waiting on dependency, pass the property `depends_on` in the body. To create a blocking dependency, pass the property `dependency_of`. Both can not be passed in the same request.
    + Headers

            Authorization: "access_token"

    + Body

            {
                "depends_on": "9hw"
            }

+ Response 200 (application/json)

            {}

### Delete Dependency [DELETE /task/{task_id}/dependency{?depends_on,dependency_of,custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + depends_on: 9hz (string)
    + dependency_of: 9hz (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
One and only one of `depends_on` or `dependency_of` must be passed in the query params.
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {}

### Add Task Link [POST /task/{task_id}/link/{links_to}/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + links_to: 9hz (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "task": {
                    "id": "9hv",
                    "name": "Task Name",
                    "status": {
                        "status": "in progress",
                        "color": "#d3d3d3",
                        "orderindex": 1,
                        "type": "custom"
                    },
                    "orderindex": "1.00000000000000000000000000000000",
                    "date_created": "1567780450202",
                    "date_updated": "1567780450202",
                    "date_closed": null,
                    "creator": {
                        "id": 183,
                        "username": "John Doe",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                    },
                    "assignees": [],
                    "checklists": [],
                    "tags": [],
                    "parent": null,
                    "priority": null,
                    "due_date": null,
                    "start_date": null,
                    "time_estimate": null,
                    "time_spent": null,
                    "list": {
                        "id": "123"
                    },
                    "folder": {
                        "id": "456"
                    },
                    "space": {
                        "id": "789"
                    },
                    "linked_tasks": [
                        {
                            "task_id": "9hv",
                            "link_id": "9hz",
                            "date_created": "1587571108988",
                            "userid": "183"
                        }
                    ],
                    "url": "https://app.clickup.com/t/9hx"
                }
            }

### Delete Task Link [DELETE /task/{task_id}/link/{links_to}/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: 9hv (string)
    + links_to: 9hz (string)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "task": {
                    "id": "9hv",
                    "name": "Task Name",
                    "status": {
                        "status": "in progress",
                        "color": "#d3d3d3",
                        "orderindex": 1,
                        "type": "custom"
                    },
                    "orderindex": "1.00000000000000000000000000000000",
                    "date_created": "1567780450202",
                    "date_updated": "1567780450202",
                    "date_closed": null,
                    "creator": {
                        "id": 183,
                        "username": "John Doe",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                    },
                    "assignees": [],
                    "checklists": [],
                    "tags": [],
                    "parent": null,
                    "priority": null,
                    "due_date": null,
                    "start_date": null,
                    "time_estimate": null,
                    "time_spent": null,
                    "list": {
                        "id": "123"
                    },
                    "folder": {
                        "id": "456"
                    },
                    "space": {
                        "id": "789"
                    },
                    "linked_tasks": [],
                    "url": "https://app.clickup.com/t/9hx"
                }
            }

## Folders [/folder]

### Create Folder [POST /space/{space_id}/folder]

+ Parameters
    + space_id: 789 (number)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "New Folder Name"
            }

+ Response 200 (application/json)

            {
                "id": "457",
                "name": "New Folder Name",
                "orderindex": 0,
                "override_statuses": false,
                "hidden": false,
                "space": {
                    "id": "789",
                    "name": "Space Name",
                    "access": true
                },
                "task_count": "0"
            }

### Update Folder [PUT /folder/{folder_id}]

+ Parameters
    + folder_id: 457 (number)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "Updated Folder Name"
            }

+ Response 200 (application/json)

            {
                "id": "457",
                "name": "Updated Folder Name",
                "orderindex": 0,
                "override_statuses": false,
                "hidden": false,
                "space": {
                    "id": "789",
                    "name": "Space Name",
                    "access": true
                },
                "task_count": "0"
            }

### Delete Folder [DELETE /folder/{folder_id}]

+ Parameters
    + folder_id: 457 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {}

### Get Folders [GET /space/{space_id}/folder{?archived}]

+ Parameters
    + space_id: 789 (number)
    + archived: false (boolean, optional)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            [
                {
                    "id": "457",
                    "name": "Updated Folder Name",
                    "orderindex": 0,
                    "override_statuses": false,
                    "hidden": false,
                    "space": {
                        "id": "789",
                        "name": "Space Name",
                        "access": true
                    },
                    "task_count": "0",
                    "lists": []
                },
                {
                    "id": "458",
                    "name": "Second Folder Name",
                    "orderindex": 1,
                    "override_statuses": false,
                    "hidden": false,
                    "space": {
                        "id": "789",
                        "name": "Space Name",
                        "access": true
                    },
                    "task_count": "0",
                    "lists": []
                }
            ]

### Get Folder [GET /folder/{folder_id}]

+ Parameters
    + folder_id: 457 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "id": "457",
                "name": "Updated Folder Name",
                "orderindex": 0,
                "override_statuses": false,
                "hidden": false,
                "space": {
                    "id": "789",
                    "name": "Space Name",
                    "access": true
                },
                "task_count": "0",
                "lists": []
            }

## Goals [/goals]

### Create Goal [POST /team/{team_id}/goal]

+ Parameters
    + team_id: 123 (number) - Team ID (Workspace)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "Goal Name",
                "due_date": 1568036964079,
                "description": "Goal Description",
                "multiple_owners": true,
                "owners": [183],
                "color": "#32a852"
            }

+ Response 200 (application/json)

            {
                "goal": {
                    "id": "e53a033c-900e-462d-a849-4a216b06d930",
                    "name": "Goal Name",
                    "team_id": "512",
                    "date_created": "1568044355026",
                    "start_date": null,
                    "due_date": "1568036964079",
                    "description": "Goal Description",
                    "private": false,
                    "archived": false,
                    "creator": 183,
                    "color": "#32a852",
                    "pretty_id": "6",
                    "multiple_owners": true,
                    "folder_id": null,
                    "members": [],
                    "owners": [
                        {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                        }
                    ],
                    "key_results": [],
                    "percent_completed": 0,
                    "history": [],
                    "pretty_url": "https://app.clickup.com/512/goals/6"
                }
            }

### Update Goal [PUT /goal/{goal_id}]

+ Parameters
    + goal_id: e53a033c-900e-462d-a849-4a216b06d930 (uuid)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "Updated Goal Name",
                "due_date": 1568036964079,
                "description": "Updated Goal Description",
                "rem_owners": [183],
                "add_owners": [182]
                "color": "#32a852"
            }

+ Response 200 (application/json)

            {
                "goal": {
                    "id": "e53a033c-900e-462d-a849-4a216b06d930",
                    "name": "Updated Goal Name",
                    "team_id": "512",
                    "date_created": "1568044355026",
                    "start_date": null,
                    "due_date": "1568036964079",
                    "description": "Updated Goal Description",
                    "private": false,
                    "archived": false,
                    "creator": 183,
                    "color": "#32a852",
                    "pretty_id": "6",
                    "multiple_owners": true,
                    "folder_id": null,
                    "members": [],
                    "owners": [
                        {
                            "id": 182,
                            "username": "Jane Doe",
                            "initials": "JD",
                            "email": "janedoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/182_abc.jpg"
                        }
                    ],
                    "key_results": [],
                    "percent_completed": 0,
                    "history": [],
                    "pretty_url": "https://app.clickup.com/512/goals/6"
                }
            }

### Delete Goal [DELETE /goal/{goal_id}]

+ Parameters
    + goal_id: e53a033c-900e-462d-a849-4a216b06d930 (uuid)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

+ Response 200 (application/json)

            {

            }

### Get Goals [GET /team/{team_id}/goal{?include_completed}]

+ Parameters
    + team_id: 123 (number) - Team ID (Workspace)
    + include_completed: true (boolean, optional)

+ Request
Use `include_completed` to include new, in progress, and completed goals in the response. The default request, if the parameter is not included, is `false`.
    + Headers

            Authorization: "access_token"


+ Response 200 (application/json)

            {
                "goals": [
                    {
                        "id": "e53a033c-900e-462d-a849-4a216b06d930",
                        "name": "Updated Goal Name",
                        "team_id": "512",
                        "date_created": "1568044355026",
                        "start_date": null,
                        "due_date": "1568036964079",
                        "description": "Updated Goal Description",
                        "private": false,
                        "archived": false,
                        "creator": 183,
                        "color": "#32a852",
                        "pretty_id": "6",
                        "multiple_owners": true,
                        "folder_id": null,
                        "members": [],
                        "owners": [
                            {
                                "id": 182,
                                "username": "Jane Doe",
                                "initials": "JD",
                                "email": "janedoe@gmail.com",
                                "color": "#827718",
                                "profilePicture": "https://attachments-public.clickup.com/profilePictures/182_abc.jpg"
                            }
                        ],
                        "key_results": [],
                        "percent_completed": 0,
                        "history": [],
                        "pretty_url": "https://app.clickup.com/512/goals/6"
                    }
                ],

                "folders": [
                    {
                        "id": "05921253-7737-44af-a1aa-36fd11244e6f",
                        "name": "Goal Folder",
                        "team_id": "512",
                        "private": true,
                        "date_created": "1548802674671",
                        "creator": 182,
                        "goal_count": 0,
                        "members": [
                            {
                                "id": 182,
                                "username": "Jane Doe",
                                "initials": "JD",
                                "email": "janedoe@gmail.com",
                                "color": "#827718",
                                "profilePicture": "https://attachments-public.clickup.com/profilePictures/182_abc.jpg"
                            }
                        ],
                        "goals": []
                    }
                ]
            }

### Get Goal [GET /goal/{goal_id}]

+ Parameters
    + goal_id: e53a033c-900e-462d-a849-4a216b06d930 (uuid)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "goal": {
                    "id": "e53a033c-900e-462d-a849-4a216b06d930",
                    "name": "Updated Goal Name",
                    "team_id": "512",
                    "date_created": "1568044355026",
                    "start_date": null,
                    "due_date": "1568036964079",
                    "description": "Updated Goal Description",
                    "private": false,
                    "archived": false,
                    "creator": 183,
                    "color": "#32a852",
                    "pretty_id": "6",
                    "multiple_owners": true,
                    "folder_id": null,
                    "members": [],
                    "owners": [
                        {
                            "id": 182,
                            "username": "Jane Doe",
                            "initials": "JD",
                            "email": "janedoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/182_abc.jpg"
                        }
                    ],
                    "key_results": [],
                    "percent_completed": 0,
                    "history": [],
                    "pretty_url": "https://app.clickup.com/512/goals/6"
                }
            }

### Create Key Result [POST /goal/{goal_id}/key_result]

+ Parameters
    + goal_id: e53a033c-900e-462d-a849-4a216b06d930 (uuid)

+ Request
Key result types can be `number`, `currency`, `boolean`, `percentage`, or `automatic`. The task ID's array and list ID's array can be used to attach resources to the goal.
    + Headers

            Authoriation: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "New Key Result Name",
                "owners": [183],
                "type": "number",
                "steps_start": 0,
                "steps_end": 10,
                "unit": "km",
                "task_ids": [],
                "list_ids": []
            }

+ Response 200 (application/json)

            {
                "key_result": {
                    "id": "947d46ed-8480-49bc-8c57-e569747efe93",
                    "goal_id": "e53a033c-900e-462d-a849-4a216b06d930",
                    "name": "New Key Result Name",
                    "type": "number",
                    "unit": "km",
                    "creator": 183,
                    "date_created": "1568062902048",
                    "goal_pretty_id": "6",
                    "percent_completed": null,
                    "completed": false,
                    "task_ids": [],
                    "subcategory_ids": [],
                    "owners": [
                        {
                            "id": 183,
                            "username": "John Doe",
                            "email": "example@email.com",
                            "color": "#827718",
                            "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg",
                            "initials": "JK"
                        }
                    ],
                    "last_action": {
                        "id": "d3183d0f-5cbd-4158-b015-71465f1df269",
                        "key_result_id": "947d46ed-8480-49bc-8c57-e569747efe93",
                        "userid": 183,
                        "date_modified": "1568062902048",
                        "steps_taken": null,
                        "note": "Created Key Result",
                        "steps_before": null,
                        "steps_current": null
                    }
                }
            }

### Edit Key Result [PUT /key_result/{key_result_id}]

+ Parameters
    + key_result_id: 947d46ed-8480-49bc-8c57-e569747efe93 (uuid)

+ Request
All properties available in the create key result route may also be used along with the additional properties below.
    + Headers

            Authorization: "access_token"
            Content-Type: application/json


    + Body

            {
                "steps_current": 5,
                "note": "Target achieved"
            }

+ Response 200 (application/json)

            {
                "key_result": {
                    "id": "947d46ed-8480-49bc-8c57-e569747efe93",
                    "goal_id": "e53a033c-900e-462d-a849-4a216b06d930",
                    "name": "New Key Result Name",
                    "type": "number",
                    "unit": "km",
                    "creator": 183,
                    "date_created": "1568062902048",
                    "goal_pretty_id": "6",
                    "percent_completed": null,
                    "completed": false,
                    "task_ids": [],
                    "subcategory_ids": [],
                    "owners": [
                        {
                            "id": 183,
                            "username": "John Doe",
                            "email": "example@email.com",
                            "color": "#827718",
                            "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/183_nx1.jpg",
                            "initials": "JK"
                        }
                    ],
                    "last_action": {
                        "id": "e889858b-a023-46cc-968a-cac32fd04c1e",
                        "key_result_id": "19c7a55e-537e-4bc9-b741-08df05a5bda8",
                        "userid": 183,
                        "date_modified": "1568122776851",
                        "steps_taken": null,
                        "note": "Target achieved",
                        "steps_before": null,
                        "steps_current": null,
                        "steps_before_float": 0,
                        "steps_taken_float": 5,
                        "steps_current_float": null
                    }
                }
            }

### Delete Key Result [DELETE /key_result/{key_result_id}]

+ Parameters
    + key_result_id: 947d46ed-8480-49bc-8c57-e569747efe93 (uuid)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {}

## Guests [/guests]
***Note:** The following guest routes are only available to Workspaces on our **[Enterprise Plan](https://clickup.com/pricing).***

### Invite Guest To Workspace [POST /team/{team_id}/guest]

+ Parameters
    + team_id: 123 (number) - Team ID (Workspace)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "email": "guest@example.com",
                "can_edit_tags": true,
                "can_see_time_spent": true,
                "can_see_time_estimated": true
            }

+ Response 200 (application/json)

        {
          "team": {
            "id": "333",
            "name": "Team Name",
            "color": "#8D00D4",
            "avatar": null,
            "members": [
              // ... existing team members
              {
                "user": {
                  "id": 184,
                  "username": null,
                  "email": "guest@example.com",
                  "color": null,
                  "profilePicture": null,
                  "initials": "G",
                  "role": 4,
                  "last_active": null,
                  "date_joined": null,
                  "date_invited": "1583358383412"
                },
                "invited_by": {
                  "id": 183,
                  "color": "#827718",
                  "username": "Jerry",
                  "email": "jerry@example.com",
                  "initials": "J",
                  "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                },
                "can_see_time_spent": true,
                "can_see_time_estimated": true,
                "can_edit_tags": true
              }
            ]
          }
        }

### Edit Guest On Workspace [PUT /team/{team_id}/guest/{guest_id}]

+ Parameters
    + team_id: 123 (number) - Team ID (Workspace)
    + guest_id: 403 (number)

+ Request
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "username": "Guest User",
                "can_edit_tags": true,
                "can_see_time_spent": true,
                "can_see_time_estimated": true
            }

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [],
                        "folders": []
                    }
                }
            }

### Remove Guest From Workspace [DELETE /team/{team_id}/guest/{guest_id}]

+ Parameters
    + team_id: 123 (number) - Team ID (Workspace)
    + guest_id: 403 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

        {
          "team": {
            "id": "333",
            "name": "Team Name",
            "color": "#8D00D4",
            "avatar": null,
            "members": [
              // ... existing team members
            ]
          }
        }

### Get Guest [GET /team/{team_id}/guest/{guest_id}]

+ Parameters
    + team_id: 123 (number) - Team ID (Workspace)
    + guest_id: 403 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 185,
                      "username": "Sam",
                      "email": "sam@example.com",
                      "color": #ff5251,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "custom_role": null,
                      "last_active": 1639017661689,
                      "date_joined": 1623114901922,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "username": "Jerry",
                      "color": "#827718",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_see_points_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [
                            {
                            "id": "15594719",
                            "name": "List",
                            "orderindex": 0,
                            "status": null,
                            "priority": null,
                            "assignee": null,
                            "task_count": 2,
                            "due_date": null,
                            "start_date": null,
                            "archived": false,
                            "override_statuses": false,
                            "statuses": [
                                {
                                "id": "p7014563_2ZTwtfjT",
                                "status": "to do",
                                "orderindex": 0,
                                "color": "#d3d3d3",
                                "type": "open"
                                },
                                {
                                "id": "p7014563_RCi466iR",
                                "status": "complete",
                                "orderindex": 1,
                                "color": "#6bc950",
                                "type": "closed"
                                }
                            ],
                            "permission_level": "create"
                            }
                        ],
                        "folders": []
                    }
                }
            }

### Add Guest To Task [POST /task/{task_id}/guest/{guest_id}/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: c04 (string)
    + guest_id: 403 (number)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
`permisson_level` can be `read`, `comment`, `edit`, or `create`
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "permission_level": "read"
            }

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [
                            {
                              "id": "c04",
                              "name": "Task Name",
                              "status": {
                                "status": "Open",
                                "color": "#d3d3d3",
                                "type": "open",
                                "orderindex": 0
                              },
                              "orderindex": "0",
                              "date_created": "1574718405408",
                              "date_updated": "1574722145869",
                              "date_closed": null,
                              "archived": false,
                              "creator": {
                                "id": 183,
                                "username": "Jerry",
                                "color": "#827718",
                                "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                              },
                              "assignees": [],
                              "checklists": [],
                              "tags": [],
                              "parent": null,
                              "priority": {
                                "id": "1",
                                "priority": "urgent",
                                "color": "#f50000",
                                "orderindex": "1"
                              },
                              "due_date": "1508369194377",
                              "start_date": null,
                              "points": null,
                              "time_estimate": null,
                              "custom_fields": [],
                              "dependencies": [],
                              "team_id": "108",
                              "url": "https://app.clickup.com/t/c04",
                              "permission_level": "read",
                              "list": {
                                "id": "1752",
                                "name": "Shared with me",
                                "access": false
                              },
                              "folder": {
                                "id": "1217",
                                "name": "Shared with me",
                                "hidden": false,
                                "access": false
                              },
                              "space": {
                                "id": "380"
                              }
                            }
                        ],
                        "lists": [],
                        "folders": []
                    }
                }
            }

### Remove Guest From Task [DELETE /task/{task_id}/guest/{guest_id}/{?custom_task_ids,team_id}]

+ Parameters
    + task_id: c04 (string)
    + guest_id: 403 (number)
    + `custom_task_ids` (string, optional) - If you want to reference a task by it's custom task id, this value must be `true`
    + `team_id` (number, optional) - Only used when the parameter is set to `custom_task_ids=true`
        + Example: `custom_task_ids=true&team_id=123`

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [],
                        "folders": []
                    }
                }
            }

### Add Guest To List [POST /list/{list_id}/guest/{guest_id}]

+ Parameters
    + list_id: 1427 (number)
    + guest_id: 403 (number)

+ Request
`permisson_level` can be `read`, `comment`, `edit`, or `create`
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "permission_level": "read"
            }

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [
                            {
                              "id": "1427",
                              "name": "List Name",
                              "orderindex": 1,
                              "status": null,
                              "priority": null,
                              "assignee": null,
                              "task_count": "5",
                              "due_date": null,
                              "start_date": null,
                              "archived": false,
                              "override_statuses": true,
                              "statuses": [
                                {
                                  "status": "Open",
                                  "orderindex": 0,
                                  "color": "#d3d3d3",
                                  "type": "open"
                                },
                                {
                                  "status": "Closed",
                                  "orderindex": 5,
                                  "color": "#6bc950",
                                  "type": "closed"
                                }
                              ],
                              "permission_level": "read"
                            }
                        ],
                        "folders": []
                    }
                }
            }

### Remove Guest From List [DELETE /list/{list_id}/guest/{guest_id}]

+ Parameters
    + list_id: 1427 (number)
    + guest_id: 403 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [],
                        "folders": []
                    }
                }
            }

### Add Guest To Folder [POST /folder/{folder_id}/guest/{guest_id}]

+ Parameters
    + folder_id: 1057 (number)
    + guest_id: 403 (number)

+ Request
`permisson_level` can be `read`, `comment`, `edit`, or `create`
    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "permission_level": "read"
            }

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [],
                        "folders": [
                            {
                              "id": "1057",
                              "name": "Folder Name",
                              "orderindex": 5,
                              "override_statuses": true,
                              "hidden": false,
                              "task_count": "20",
                              "archived": false,
                              "statuses": [
                                {
                                  "status": "Open",
                                  "orderindex": 0,
                                  "color": "#d3d3d3",
                                  "type": "open"
                                },
                                {
                                  "status": "Closed",
                                  "orderindex": 5,
                                  "color": "#6bc950",
                                  "type": "closed"
                                }
                              ],
                              "lists": [],
                              "permission_level": "read"
                            }
                        ]
                    }
                }
            }

### Remove Guest From Folder [DELETE /folder/{folder_id}/guest/{guest_id}]

+ Parameters
    + folder_id: 1057 (number)
    + guest_id: 403 (number)

+ Request
    + Headers

            Authorization: "access_token"

+ Response 200 (application/json)

            {
                "guest": {
                    "user": {
                      "id": 184,
                      "username": null,
                      "email": "guest@example.com",
                      "color": null,
                      "profilePicture": null,
                      "initials": "G",
                      "role": 4,
                      "last_active": null,
                      "date_joined": null,
                      "date_invited": "1583358383412"
                    },
                    "invited_by": {
                      "id": 183,
                      "color": "#827718",
                      "username": "Jerry",
                      "email": "jerry@example.com",
                      "initials": "J",
                      "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                    },
                    "can_see_time_spent": true,
                    "can_see_time_estimated": true,
                    "can_edit_tags": true,
                    "shared": {
                        "tasks": [],
                        "lists": [],
                        "folders": []
                    }
                }
            }

## Lists [/lists]

### Create List [POST /folder/{folder_id}/list]

+ Parameters
    + folder_id: 456 (number)

+ Request
`assignee` is a userid of the assignee to be added to this task.
`priority` is an integer mapping as 1 : Urgent, 2 : High, 3 : Normal, 4 : Low.
The `status` included in the body of this request refers to the List color rather than the task Statuses available in the List.

    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "New List Name",
                "content": "New List Content",
                "due_date": 1567780450202,
                "due_date_time": false,
                "priority": 1,
                "assignee": 183,
                "status": "red"
            }

+ Response 200 (application/json)

            {
                "id": "124",
                "name": "New List Name",
                "orderindex": 1,
                "content": "New List Content",
                "status": {
                    "status": "red",
                    "color": "#e50000",
                    "hide_label": true
                },
                "priority": {
                    "priority": "urgent",
                    "color": "#f50000"
                },
                "assignee": {
                    "id": 183,
                    "color": "#827718",
                    "username": "Jerry",
                    "initials": "J",
                    "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                },
                "task_count": null,
                "due_date": "1567780450202",
                "due_date_time": false,
                "start_date": null,
                "start_date_time": null,
                "folder": {
                    "id": "456",
                    "name": "Folder Name",
                    "hidden": false,
                    "access": true
                },
                "space": {
                    "id": "789",
                    "name": "Space Name",
                    "access": true
                },
                "statuses": [
                    {
                        "status": "to do",
                        "orderindex": 0,
                        "color": "#d3d3d3",
                        "type": "open"
                    },
                    {
                        "status": "complete",
                        "orderindex": 1,
                        "color": "#6bc950",
                        "type": "closed"
                    }
                ],
                "inbound_address": "add.task.1389.ac725f.31518a6a-05bb-4997-92a6-1dcfe2f527ca@tasks.clickup.com"
            }

### Create Folderless List [POST /space/{space_id}/list]

+ Parameters
    + space_id: 789 (number)

+ Request
`assignee` is a userid of the assignee to be added to this task.
`priority` is an integer mapping as 1 : Urgent, 2 : High, 3 : Normal, 4 : Low.
The `status` included in the body of this request refers to the List color rather than the task Statuses available in the List.

    + Headers

            Authorization: "access_token"
            Content-Type: application/json

    + Body

            {
                "name": "New List Name",
                "content": "New List Content",
                "due_date": 1567780450202,
                "due_date_time": false,
                "priority": 1,
                "assignee": 183,
                "status": "red"
            }

+ Response 200 (application/json)

            {
                "id": "124",
                "name": "New List Name",
                "orderindex": 1,
                "content": "New List Content",
                "status": {
                    "status": "red",
                    "color": "#e50000",
                    "hide_label": true
                },
                "priority": {
                    "priority": "urgent",
                    "color": "#f50000"
                },
                "assignee": {
                    "id": 183,
                    "color": "#827718",
                    "username": "Jerry",
                    "initials": "J",
                    "profilePicture": "https://dev-attachments-public.clickup.com/profilePictures/profile.jpg"
                },
                "task_count": null,
                "due_date": "1567780450202",
                "due_date_time": false,
                "start_date": null,
                "start_date_time": null,
                "folder": {
                    "id": "457",
                    "name": "hidden",
                    "hidden": true,
                    "access": true
                },
                "space": {
                    "id": "789",
                    "name": "Space Name",
                    "access": true
                },
                "statuses": [
                    {
                        "status": "to do",
                        "orderindex": 0,
                        "color": "#d3d3d3",
[...]
